<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>demo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>Patient</servlet-name>
    <servlet-class>controller.Patient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Patient</servlet-name>
    <url-pattern>/patient.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Charge</servlet-name>
    <servlet-class>controller.Charge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Charge</servlet-name>
    <url-pattern>/charge.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>XActionsPerPatient</servlet-name>
      <servlet-class>controller.TransactionsPerPatient</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>XActionsPerPatient</servlet-name>
      <url-pattern>/query/xaction-per-patient.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>PatientEdit</servlet-name>
      <jsp-file>/WEB-INF/view/patient/edit.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientEdit</servlet-name>
    <url-pattern>/patient/edit.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>PatientCreate</servlet-name>
      <jsp-file>/WEB-INF/view/patient/create.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>PatientCreate</servlet-name>
      <url-pattern>/patient/create.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>PatientDelete</servlet-name>
      <jsp-file>/WEB-INF/view/patient/delete.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>PatientDelete</servlet-name>
      <url-pattern>/patient/delete.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>ErrorDuplicate</servlet-name>
      <jsp-file>/WEB-INF/view/error/duplicate_key_error.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorDuplicate</servlet-name>
    <url-pattern>/error/duplicate_key_error.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>ErrorNoRecord</servlet-name>
      <jsp-file>/WEB-INF/view/error/no_record.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorNoRecord</servlet-name>
    <url-pattern>/error/no_record.jsp</url-pattern>
  </servlet-mapping>
    
  <!-- APPOINTMENTS -->
  <servlet>
    <servlet-name>Appointments</servlet-name>
    <servlet-class>controller.Appt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Appointments</servlet-name>
    <url-pattern>/appt.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>CreateAppointment</servlet-name>
      <jsp-file>/WEB-INF/view/appt/create.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>CreateAppointment</servlet-name>
      <url-pattern>/appt/create.jsp</url-pattern>
  </servlet-mapping> 
    
  <servlet>
      <servlet-name>EditAppointment</servlet-name>
      <jsp-file>/WEB-INF/view/appt/edit.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAppointment</servlet-name>
    <url-pattern>/appt/edit.jsp</url-pattern>
  </servlet-mapping>  
 
  <servlet>
      <servlet-name>DeleteAppointment</servlet-name>
      <jsp-file>/WEB-INF/view/appt/delete.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>DeleteAppointment</servlet-name>
      <url-pattern>/appt/delete.jsp</url-pattern>
  </servlet-mapping>
    
  <!-- VISITS -->
  <servlet>
    <servlet-name>Visits</servlet-name>
    <servlet-class>controller.Visit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Visits</servlet-name>
    <url-pattern>/visit.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>CreateVisit</servlet-name>
      <jsp-file>/WEB-INF/view/visit/create.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>CreateVisit</servlet-name>
      <url-pattern>/visit/create.jsp</url-pattern>
  </servlet-mapping> 
    
  <servlet>
      <servlet-name>EditVisit</servlet-name>
      <jsp-file>/WEB-INF/view/visit/edit.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditVisit</servlet-name>
    <url-pattern>/visit/edit.jsp</url-pattern>
  </servlet-mapping>  
 
  <servlet>
      <servlet-name>DeleteVisit</servlet-name>
      <jsp-file>/WEB-INF/view/visit/delete.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>DeleteVisit</servlet-name>
      <url-pattern>/visit/delete.jsp</url-pattern>
  </servlet-mapping>
    
  <!-- SERVICES -->
  <servlet>
    <servlet-name>Services</servlet-name>
    <servlet-class>controller.Service</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Services</servlet-name>
    <url-pattern>/visit/service.jsp</url-pattern>
  </servlet-mapping>
  
</web-app>
